# **Ejercicios introductorios a Python**

#### **1: Crear Variables de diferentes tipos de datos**

Crea variables de los siguientes tipos de datos y asígnales valores:

1. Número entero (int)   
2. Número decimal (float)    
3. Cadena de caracteres (str)    
4. Valor booleano (bool)

In [1]:
#1.Número entero (int)
manzanas=16
print(manzanas)

#2.Número decimal (float)
peso=52.6
print(peso)

#3.Cadena de caracteres (str)
Bienvenida="Bienvenidos, señores y señoras"
print(Bienvenida)

#4.Valor booleano (bool)
booleano=False
print(booleano)

16
52.6
Bienvenidos, señores y señoras
False

#### **Ejercicio 2: Operaciones aritméticas básicas**

Dadas las variables a = 10 y b = 3, realiza las siguientes operaciones y guarda los resultados en nuevas variables:

1. Suma     
2. Resta    
3. Multiplicación   
4. División

In [2]:
# Variables iniciales
a = 10
b = 3

# Operaciones y resultados
suma_resultado = a + b
print("Suma:", suma_resultado)
resta_resultado = a - b
print("Resta:", resta_resultado)
multiplicacion_resultado = a * b
print("Multiplicación:", multiplicacion_resultado)
division_resultado = a / b
print("División:", division_resultado)

Suma: 13
Resta: 7
Multiplicación: 30
División: 3.3333333333333335

#### **Ejercicio 3: Listas**

Crea una lista de números enteros y realiza las siguientes operaciones:

1. Añade un nuevo elemento al final de la lista.    
2. Inserta un elemento en una posición específica de la lista.  
3. Elimina un elemento de la lista.     
4. Obtiene la longitud de la lista. 
5. Accede a un elemento específico de la lista utilizando su índice.

In [3]:
#Lista de números enteros
coches_aparcados=[10,15,20,25,30]

#1.Añadir elemento al final de la lista
coches_aparcados.append(35)
print(coches_aparcados)

#2.Añadir elemento en posición concreta
coches_aparcados.insert(2,18)
print(coches_aparcados)

#3.Eliminar un elemento de la lista
coches_aparcados.remove(18)
print(coches_aparcados)

#4.Obtener longitud de la lista
print(len(coches_aparcados))

#5.Acceder a un elemento específico de la lista usando el índice
print(coches_aparcados[3])

[10, 15, 20, 25, 30, 35]
[10, 15, 18, 20, 25, 30, 35]
[10, 15, 20, 25, 30, 35]
6
25

#### **Ejercicio 4: Tuplas**

Crea una tupla con diferentes tipos de datos (int, float, str, bool) y accede a sus elementos utilizando índices.

In [4]:
#Tupla con datos int,float,str y bool
tupla_mixta=36.5,37,37.5,38,38.5,"febricula","fiebre",True

#Acceder a los elementos de la tupla usando índices
print(tupla_mixta[0])
print(tupla_mixta[1])
print(tupla_mixta[2])
print(tupla_mixta[3])
print(tupla_mixta[4])
print(tupla_mixta[5])
print(tupla_mixta[6])
print(tupla_mixta[7])

36.5
37
37.5
38
38.5
febricula
fiebre
True

#### **Ejercicio 5: Diccionarios**

Crea un diccionario con al menos tres pares clave-valor y realiza las siguientes operaciones:

1. Accede al valor de una clave específica.     
2. Cambia el valor de una clave específica.     
3. Agrega un nuevo par clave-valor al diccionario.  
4. Elimina un par clave-valor del diccionario.

In [5]:
#Diccionario con al menos 3 pares clave-valor
alumno={"nombre":"Martin","edad":7,"ciudad":"Barcelona",
        "Colegio":"Maristas"}
print(alumno)

#1.Acceso al valor de una clave específica
print(alumno["edad"])

#2.Cambiando el valor de una clave específica
alumno["edad"]=6
print(alumno["edad"])

#3.Agregar nuevo par clave-valor al diccionario
alumno["curso"]="primero"
print(alumno)

#4.Eliminar un par clave-valor del diccionario
del alumno["Colegio"]
print(alumno)

{'nombre': 'Martin', 'edad': 7, 'ciudad': 'Barcelona', 'Colegio': 'Maristas'}
7
6
{'nombre': 'Martin', 'edad': 6, 'ciudad': 'Barcelona', 'Colegio': 'Maristas', 'curso': 'primero'}
{'nombre': 'Martin', 'edad': 6, 'ciudad': 'Barcelona', 'curso': 'primero'}

#### **Ejercicio 6: Operadores de comparación**

Dadas las variables x = 5 e y = 8, utiliza operadores de comparación (==, !=, >, <, >=, <=) para comparar sus valores y guarda los resultados en variables booleanas.

In [6]:
#variables iniciales
x=5
y=8

#uso de operadores de comparación (==, !=, >, <, >=, <=)
print(x==y)
print(x!=y)
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)

False
True
False
False
True
True

#### **Ejercicio 7: Conversión de tipos de datos**

Practica la conversión de tipos de datos con las siguientes operaciones:

1. Convierte un número entero a float.  
2. Convierte un número float a entero.  
3. Convierte un número a cadena.    
4. Convierte una cadena a número (si la cadena contiene un valor numérico válido).

In [7]:
#variables iniciales a convertir
grados=28
metros=23.6
cadena_numerica=66

#1.Convertir número entero a float
print(float(grados))

#2.Convertir número float a entero
print(int(metros))

#3.Convertir número a cadena
print("cadena:",grados)

#4.Convertir cadena a número (si la cadena tiene un valor numérico válido)
print("entero:",cadena_numerica)

28.0
23
cadena: 28
entero: 66